<% provide(:title, "Edit Profile") %>

<h1>Update Your Profile</h1>

<div class = "row">
	<div class="span6 offset3">
		<%= bootstrap_form_for(@finance_customer) do |f| %>
		<!--<%= render 'shared/error_messages' %>-->
		
		<fieldset>
			<legend>Your Profile</legend>
			
			<%= f.uneditable_input :name, :label => 'Login name' %>
			
			<%= f.text_field :email, :label => 'Contact Email' %>
			
			<%= f.text_field :password, :label => 'Password' %>
			<%= f.text_field :password_confirmation, :label => 'Confirm Password' %>
			
			<%= f.button :label => "Save Changes" %>
			
		</fieldset>
		
		<% end %>
		
	</div>
</div>
