<h1>Listing finance_customers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Active</th>
    <th>View limit</th>
    <th>Date limit</th>
    <th>Admin</th>
    <th>Password digest</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @finance_customers.each do |finance_customer| %>
  <tr>
    <td><%= finance_customer.name %></td>
    <td><%= finance_customer.active %></td>
    <td><%= finance_customer.view_limit %></td>
    <td><%= finance_customer.date_limit %></td>
    <td><%= finance_customer.admin %></td>
    <td><%= finance_customer.password_digest %></td>
    <td><%= link_to 'Show', finance_customer %></td>
    <td><%= link_to 'Edit', edit_finance_customer_path(finance_customer) %></td>
    <td><%= link_to 'Destroy', finance_customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Finance customer', new_finance_customer_path %>
