<div class="container">

<%= bootstrap_form_for(@finance_lead) do |f| %>
	<div class="row-fluid">
		<div class="span6">
			<%= f.text_field :name_first, :label => "First Name*" %>
		</div>
		<div class="span6">
			<%= f.text_field :name_last, :label => "Last Name*"%>
		</div>
	</div><!--endrow-->
	<div class="row-fluid">
		<div class="span12">
			<%= f.text_area :address, :label => "Address", :size => '30x3', :style => 'width:100%' %>
		</div>
	</div><!--endrow-->
	<div class="row-fluid">
		<div class="span6">
			<%= f.text_field :city %>
			<%= f.text_field :zip %>
		</div>
		<div class="span6">
			<div class="field">
  				<% state_array = options_from_collection_for_select(State.where("is_active = ?", true), :abbreviation, :name, :prompt => true) %>
  				<%= f.select(:state_abb, state_array, {:include_blank => 'Please select a State'}) %>
  			</div>
		</div>
	</div><!--endrow-->
	<div class="row-fluid">
		<div class="span6">
			<%= f.telephone_field :phone_home, :label => "Home Phone*"%>
			<%= f.email_field :email, :label => "email address*"%>
		</div>
		<div class="span6">
			<%= f.telephone_field :phone_work, :label => "Work Phone*"%>
			<%= f.text_field :best_time_to_call %>
		</div>
	</div><!--endrow-->
	<div class="row-fluid">
		<div class = "span6">
			<% is_interested_in_options = ["Purchasing a Home", "Purchasing a Home and Land", "Refinancing Exisiting Loan(s)"]%>
			<%= f.radio_buttons :is_interested_in, is_interested_in_options, :label => "I am interested in" %>
			
			<% home_is_used_for_options = ["Primary Residence", "vacation Home", "Investment Property"] %>
			<%= f.radio_buttons :home_is_used_for, home_is_used_for_options, :label => "The Home is used for" %>
		</div>
		<div class = "span6">
		</div>
	</div>
	<div class="row-fluid">
		<div class = "span6">
		</div>
		<div class = "span6">
		</div>
	</div>
	<div class="row-fluid">
		<div class = "span6">
		</div>
		<div class = "span6">
		</div>
	</div>
	<div class="row-fluid">
		<div class = "span6">
		</div>
		<div class = "span6">
		</div>
	</div>
<% end %>

</div>

	
  
  
 

