<h1>Listing finance_leads</h1>

<table>
  <tr>
    <th>Name first,name last,address,city,phone home,phone work,email</th>
    <th>Best time to call,is interested in,home is used for,home is a,home is on</th>
    <th>Year home was built,credit standing,contact by</th>
    <th>State</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @finance_leads.each do |finance_lead| %>
  <tr>
    <td><%= finance_lead.name_first,name_last,address,city,phone_home,phone_work,email %></td>
    <td><%= finance_lead.best_time_to_call,is_interested_in,home_is_used_for,home_is_a,home_is_on %></td>
    <td><%= finance_lead.year_home_was_built,credit_standing,contact_by %></td>
    <td><%= finance_lead.state_id %></td>
    <td><%= finance_lead.comments %></td>
    <td><%= link_to 'Show', finance_lead %></td>
    <td><%= link_to 'Edit', edit_finance_lead_path(finance_lead) %></td>
    <td><%= link_to 'Destroy', finance_lead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Finance lead', new_finance_lead_path %>
