<div class="row">
	<div class="span4">
		...
	</div>
	<div class="span4">
		...
	</div>
	<div class="span4">
		...
	</div>
</div>
<div class="row">
	<div class="span12">
		<table class="table table-striped">
			<tr>
				<th>Date-Time Submitted</th>
				<th>Prospect's Name</th>
				<th>City</th>
				<th>State</th>
				<th>Credit</th>
				<th>Details</th>
			</tr>
			<% @finance_leads.each do |finance_lead| %>
				<td><%= finance_lead.created_at %></td>
				<td><%= finance_lead.fullname %></td>
				<td><%= finance_lead.city %></td>
				<td><%= State.find_by_id(finance_lead.state_id).abbreviation %></td>
				<td><%= finance_lead.credit_standing %></td>
				<td><%= link_to 'Show', finance_lead %></td>
				
			<% end %>
		</table>
	</div>
</div>


<br />

<%= link_to 'New Finance lead', new_finance_lead_path %>
