<p id="notice"><%= notice %></p>

<p>
  <b>Name first,name last,address,city,phone home,phone work,email:</b>
  <%= @finance_lead.name_first,name_last,address,city,phone_home,phone_work,email %>
</p>

<p>
  <b>Best time to call,is interested in,home is used for,home is a,home is on:</b>
  <%= @finance_lead.best_time_to_call,is_interested_in,home_is_used_for,home_is_a,home_is_on %>
</p>

<p>
  <b>Year home was built,credit standing,contact by:</b>
  <%= @finance_lead.year_home_was_built,credit_standing,contact_by %>
</p>

<p>
  <b>State:</b>
  <%= @finance_lead.state_id %>
</p>

<p>
  <b>Comments:</b>
  <%= @finance_lead.comments %>
</p>


<%= link_to 'Edit', edit_finance_lead_path(@finance_lead) %> |
<%= link_to 'Back', finance_leads_path %>
