<!DOCTYPE html>
<html lang="en">
<head>
  <title>Finance</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if signed_in? %>
<%= render 'layouts/menu' %>
<% else %>
<p>Not signed in</p>
<% end %>
<div class="container">
	<%= yield %>
</div>


<%= javascript_include_tag "application" %>
</body>
</html>
